@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@champagne/tokens/styles/champagne/theme.css";

html,
body {
  @apply min-h-screen;
  background: var(--bg-ink);
  color: var(--text-high);
}

body {
  @apply antialiased;
}