:root[data-theme='dawn'] {
  --bg-ink: color-mix(in oklab, var(--brand-teal) 15%, var(--brand-white));
}

:root[data-theme='dusk'] {
  --bg-ink: var(--ink-100);
}

:root[data-theme='night'] {
  --bg-ink: var(--ink-100);
}
